<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css-FinalForm.css">
    <title>A4 Sheet Ratio</title>
</head>
<body>
    <div class="a4-container">
        <div class="headingdiv">
        <img src="/kit.png" class="logo">
        <div class="head"><span>KIT - KALAIGNARKARUNANIDHI INSTITUTE OF TECHNOLOGY</span>
             AN AUTONOMOUS INSTITUTION APPROVED BY AICTE AND AFFILIATED TO ANNA UNIVERSITY, CHENNAI. ACCREDITED WITH 'A' GRADE BY NAAC.</div>
            </div>
          </div>
          <div class="pass"> Out - PAss</div>
          <div class="details">
            <div> Name = <%= student.student_name %></div>
            <div> Register-Number = <%= student.register_number %></div>
            <div> Year = <%= student.year %></div>
            <div> Department =<%= student.department %></div>
            <div> Phone-Number = <%= student.parent_conduct_number %></div>
            <div> Address = <%= student.student_name %></div>
            <div> Purpose = <%= student.purpose_of_outpass %></div>
            <div> From-Time = <%= student.from_date %></div>
            <div> To-Time = <%= student.student_name %></div>

</body>
</html>
